{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  "triggerTemplate": {
    "projectId": "{{ project_name }}",
    "repoName": "github_{{ github_user_name }}_script-languages",
    "branchName": "^(feature|bug|enhancement|refactoring|ci)/.*"
  },
  "description": "Build branch {{ flavor }}",
  "substitutions": {
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_CONTAINER_BUCKET": "{{ container_bucket }}",
    "_KEY_RING_NAME": "{{ key_ring_name }}",
    "_KEY_NAME": "{{ key_name }}",
    "_DOCKER_REPOSITORY": "{{ build_docker_repository }}",
    "_DOCKER_USER": "{{ docker_user }}",
    "_DOCKER_PASSWORD": "{{ docker_password }}",
    "_GITHUB_TOKEN": "{{ github_token }}"
  },
  "includedFiles": [
    "src/**",
    "exaslct_src/**",
    "flavors/{{ flavor }}/**",
    "ext/**",
    "test/**",
    "google-cloud-build/**"
  ],
  "filename": "google-cloud-build/ci-scripts/build_branch.yaml"
}
