{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  "disabled": "{{ disabled }}",
  "triggerTemplate": {
    "projectId": "{{ gcloud_project_name }}",
    "repoName": "github_{{ github_user_name }}_{{ github_repository }}",
    "branchName": "^(feature|bug|enhancement|refactoring|ci)/.*"
  },
  {% if rebuild == true  %}
  "description": "Rebuild branch {{ flavor }}",
  {% else %}
  "description": "Build branch {{ flavor }}",
  {% endif %}
  "substitutions": {
    "_JOB_ID": "{{ job_id }}",
    "_REBUILD": "{{ rebuild }}",
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}",
    "_CONTAINER_BUCKET": "{{ container_bucket }}",
    "_KEY_RING_NAME": "{{ key_ring_name }}",
    "_KEY_NAME": "{{ key_name }}",
    "_BUILD_DOCKER_REPOSITORY": "{{ build_docker_repository }}",
    "_BUILD_DOCKER_USER": "{{ docker_user }}",
    "_BUILD_DOCKER_PASSWORD": "{{ docker_password }}",
    "_GITHUB_TOKEN": "{{ github_token }}",
    "_GITHUB_USER_NAME": "{{ github_user_name }}",
    "_GITHUB_REPOSITORY": "{{ github_repository }}",
    "_JOB_TYPE": "build+test"
  },
  "includedFiles": [
    "src/**",
    "exaslct_src/**",
    "flavors/{{ flavor }}/**",
    "ext/**",
    "test/**",
    "google-cloud-build/**"
  ],
  "filename": "google-cloud-build/ci-scripts/build_branch.yaml"
}
