{
  {% if trigger_id is defined %}
  "id": "{{ trigger_id }}",
  {% endif %}
  "triggerTemplate": {
    "projectId": "{{ project_name }}",
    "repoName": "github_{{ user_name }}_script-languages",
    "branchName": ".*"
  },
  "description": "Build {{ flavor }}",
  "substitutions": {
    "_FLAVOR": "{{ flavor }}",
    "_LOG_BUCKET": "{{ log_bucket }}"
  },
  "includedFiles": [
    "src/**",
    "exaslct_src/**",
    "flavors/{{ flavor }}/**",
    "ext/**",
    "test/**",
    "google-cloud-build/**"
  ],
  "filename": "google-cloud-build/cloudbuild.yaml"
}
